<%= form_for(@phontele) do |f| %>
  <% if @phontele.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phontele.errors.count, "error") %> prohibited this phontele from being saved:</h2>

      <ul>
      <% @phontele.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
