<h1>Listing phonteles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @phonteles.each do |phontele| %>
  <tr>
    <td><%= phontele.title %></td>
    <td><%= phontele.text %></td>
    <td><%= link_to 'Show', phontele %></td>
    <td><%= link_to 'Edit', edit_phontele_path(phontele) %></td>
    <td><%= link_to 'Destroy', phontele, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Phontele', new_phontele_path %>
