<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @phontele.title %>
</p>

<p>
  <b>Text:</b>
  <%= @phontele.text %>
</p>


<%= link_to 'Edit', edit_phontele_path(@phontele) %> |
<%= link_to 'Back', phonteles_path %>
