<h1>Listing postals</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @postals.each do |postal| %>
  <tr>
    <td><%= postal.title %></td>
    <td><%= postal.text %></td>
    <td><%= link_to 'Show', postal %></td>
    <td><%= link_to 'Edit', edit_postal_path(postal) %></td>
    <td><%= link_to 'Destroy', postal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Postal', new_postal_path %>
